extends layout

block content
  p How's the bacon? Tell everyone by texting (206) 538-2935.
  p
    a(href="https://www.flickr.com/photos/dave77459/3276835826/in/photolist-4Tfzi4-cheGz3-ab1thf-62gKFU-4NU75q-4XnKfK-AjYWa-4kLNVn-6jiKY-9FzB3G-dUEfym-9aQy88-5ZyD8q-6BYNbV-5bYbJe-6BYLdv-6C3Sad-6C3R4f-6BYP9r-6BYQ2F-6BYMfg-6BYKrp-7F6eRA-5gdZ9E-61Jxpe-eX1mhq-dvytEP-7Fncr5-8rsz2B-4hrecZ-jbecX-84BX-8WicBu-eF9A35-6zi8wG-dvytG6-jp9Lm-Jedny-6Tu1ZC-5TQKJ7-5TLqjV-64K2MQ-9UoBbs-7fsdNa-93bXQk-7qo2tz-4XmqBV-aoDf9X-4BRCdF-GXGr6/") Photo credits 
    | | 
    a(href="https://github.com/markchang/baconstatus") Code