doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(href='/favicon.ico', rel="shortcut icon", type="image/x-icon")
    link(href='https://fonts.googleapis.com/css?family=Limelight|Flamenco|Federo|Yesteryear|Josefin Sans|Spinnaker|Sansita One|Handlee|Droid Sans|Oswald:400,300,700', media='screen', rel='stylesheet', type='text/css')
    link(href='/stylesheets/bootstrap.css', media='screen', rel='stylesheet', type='text/css')
    link(href='/stylesheets/bootstrap-responsive.css', media='screen', rel='stylesheet', type='text/css')
    link(href='/stylesheets/common.css', media='screen', rel='stylesheet', type='text/css')
    link(href='/stylesheets/fontawesome.css', media='screen', rel='stylesheet', type='text/css')
    link(href='/stylesheets/style.css', media='screen', rel='stylesheet', type='text/css')
    title= title
  body
    .container
      .row-fluid
        span.span6
          .div-1
            .page-header
              h1 
                a(href="/") Bacon Status
                a(href="/about")
                  i.icon.icon-question-sign
          .div-1
            block content
